<h1>Edit Page🚀</h1>


<%= simple_form_for @employee do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address, as: :text %>
  <%= f.input :date_of_birth,  as: :date, html5: true%>
  <br>
    <%= f.label :attachment %>
    <%= f.file_field :attachment, multiple: true %>
  <br>
   <br>
    <%= f.input :photo, as: :file %>
  <br>
  <br><br><br>
  <h2>Referee Section</h2>
  <%= f.simple_fields_for :references do |r| %>
    <%= r.input :first_name , label: 'Referee first Name'%>
    <%= r.input :last_name, label: 'Referee last Name'%>
  <% end %> <br>

   <%= f.simple_fields_for :references do |r| %>
    <%= r.input :first_name , label: 'Referee first Name'%>
    <%= r.input :last_name, label: 'Referee last Name'%>
  <% end %> <br>

  <br><br><br>
  <h2>Employee Compensation</h2>
  <%= f.simple_fields_for :compensation do |r| %>
    <%= r.input :current_salary , label: 'Salary'%>
  <% end %> <br>

  <%= f.button :submit %>
<% end %>
